<div class="content">
    <div class="grid">
      <div class="row">
        <div class="col-4 detail">
          <div class="card poster">
            <img [src]="detallePersonaje.imagen" class="poster" *ngIf="detallePersonaje.imagen">
          </div>
        </div>
        <div class="col">
          <div class="item">
            <label>Armas:</label>
            <img class="icon" alt="Velocidad" src="../../assets/img/bomba.png" />
            <span class="note primary">x18</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header">
        <div class="card-subtitle">Descripción: {{detallePersonaje.nombre}}</div>
      </div>
      <div class="card-content">
        {{detalleGeneral.text}}
      </div>
    </div>
    
    <label class="title">
      <h1 class="danger">{{detallePersonaje.nombre}}</h1>
    </label>
    <img class="image" [src]="detallePersonaje.imagen" *ngIf="detallePersonaje.imagen">
    
    <div class="card">
      <div class="card-header">
        <div class="card-subtitle">Estadísticas</div>
      </div>
      <div class="card-content">
        <ul class="list">
          <li class="item">
            <img class="icon" alt="Salud" src="../../assets/img/heart.png" />
            <label>Salud</label>
            <span class="note primary">6</span>
          </li>
          <li class="item">
            <img class="icon" alt="espada" src="../../assets/img/espada.png" />
            <label>ejecutar</label>
            <span class="note primary">10</span>
          </li>
          <li class="item">
            <img class="icon" alt="ejecutar" src="../../assets/img/ejecutar.png" />
            <label>Espada</label>
            <span class="note primary">20</span>
          </li>
        </ul>
      </div>
    </div>
    
    <footer class="no-border">
      <div class="toolbar">
        <button class="start" (click)="regresar()">
          <i class="icon arrow-round-back"></i>
          <label>Regresar</label>
        </button>
      </div>
    </footer>
  </div>
  