/* items.page.scss */
ion-content {
    --background: #f0f0f5;
  }
  
  ion-item {
    --background: #ffffff;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
  ion-thumbnail img {
    border-radius: 50%;
  }
  
  ion-label h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-label p {
    color: #666;
  }
  